<!DOCTYPE html>
<html>
<head>
  <title>TheRightDev</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag 'trix', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag 'actiontext', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  <%= javascript_importmap_tags %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap">
</head>
<body>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <div class="brand-logo">
          <%= image_tag("logo.png", alt: "THE RIGHT DEV") %>
        </div>
        <div class="brand-text">
          <%= link_to root_path, class: "navbar-item" do %>
            <h1>The Right Dev</h1>
            <p>Keep Learning, Keep Coding</p>
          <% end %>
        </div>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <% if user_signed_in? %>
            <%= button_to "Logout", destroy_user_session_path, method: :delete, form: { "data-turbo" => "false" }, class: "navbar-item" %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>

  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          Made with <span style="color: red;">❤️</span> by Lucas Stoller using <a target="_blank" href="https://rubyonrails.org/">Rails</a>!
        </p>
      </div>
    </div>
  </footer>
</body>
</html>

