<!DOCTYPE html>
<html>
<head>
  <title>TheRightDev</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag 'trix', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag 'actiontext', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to "THE RIGHT DEV", root_path, class: "navbar-item" %>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <% if user_signed_in? %>
            <%= button_to "Logout", destroy_user_session_path, method: :delete, form: { "data-turbo" => "false" }, class: "navbar-item" %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
</body>
</html>

